# dependencies
node_modules
**/*/node_modules

# lerna
lerna-debug.log

# lock files
yarn.lock
package-lock.json
**/**/yarn.lock
**/**/package-lock.json

# coverage
*/**/coverage
*/**/coverageEnv
*/**/coverage.json
*/**/allFiredEvents
*/**/scTopics

# truffle and aragon build artifacts
*/**/abi
*/**/build
*/**/abis.json
**/**/artifact.json
*/**/arapp_local.json
*/**/flattened_contracts

# macOS shit
*/**/.DS_Store