# dependencies
node_modules
**/*/node_modules

# lerna
lerna-debug.log

# lock files
yarn.lock
package-lock.json
**/**/yarn.lock
**/**/package-lock.json

# coverage
*/**/coverage
*/**/coverageEnv
*/**/coverage.json
*/**/allFiredEvents
*/**/scTopics

# parcel build
*/**/.cache/
*/**/dist/

# hardhat and aragon build artifacts
*/**/artifacts
*/**/cache
*/**/abis.json
**/**/artifact.json
*/**/arapp_local.json
*/**/flattened_contracts

# keep abis used in the frontend
!apps/aragon-fundraising/app/src/abi

# macOS shit
*/**/.DS_Store